* {
    margin: 0px;
}
#main {
    display: flex;
    flex-direction: column;
    background-color: #324b73;
}
.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.squares {
    width: 100px;
    height: 100px;
    border: 1px solid black;    
    margin: 0px;
}

.g {
    background-color: #8f4306;
}
.g:hover {
    background-color: limegreen;
}
.y {
    background-color: burlywood;
}
.y:hover {
    background-color: limegreen;
}
.icons {    
    height: 90px;
}

.bord {
    border: 2px solid yellow;
}