#header {
  background-color: black;
  color: white;
  text-align: center;
  height: 70px;
}
.white {
  background-color: white;
  color: red; 
}
.black {
  background-color: black;
  color: red;
  
}
.details {
  text-align: center;
  margin: 1% auto;
  border: 2px solid royalblue;
  height: 100px;
  width: 600px;
}

.detailButtons {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 70px;
}

#movesList{
  overflow: scroll;
  width: 170px;
  height: 400px;
  margin-top: 100px;
  margin-right: .5%;
  margin-left: 2%;
  background-color: slategray;
}