.white {
  background-color: white;
  color: red; 
}
.black {
  background-color: black;
  color: red;
  
}
.details {
  text-align: center;
  margin: 1% auto;
  border: 2px solid royalblue;
  height: 110px;
  width: 600px;
}

.detailButtons {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 70px;  
}

.tooltip{
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 200px;
  position: relative;
  /* border: 1px solid black; */
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
  position: absolute;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.r {
  margin-left: 35%;
}

#mainMoves{
  width: 20%;
  margin-left: 2%;
  display: inline-block;
  margin-top: auto;
  height: 820px;
}
#movesList{
  overflow: scroll;
  width: 100%;
  height: 20%;  
  height: 800px;
  margin-right: .5%;
  /* margin-left: 2%; */
  background-color: slategray;
}

.check{
  text-decoration: wavy;
  /* background-color: royalblue; */
  width: 450px;
  margin: auto;
  animation-name: check;
  animation-duration: 10s;
}

@keyframes check {
  from {background-color: black;}
  to {background-color: royalblue;}
}